<html lang="en" className="">
<head>
    <style className="vjs-styles-defaults">
        .video-js {
            width: 300px;
            height: 150px;
        }

        .vjs-fluid {
            padding -top: 56.25%
        }
    </style>
    <meta charSet="utf-8">


    <link rel="shortcut icon" href="favicon.5a94ee72b9d3.ico"
          tppabs="https://replicate.com/static/favicon.5a94ee72b9d3.ico">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/rss">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/atom">


    <script type="text/javascript" async="" src="rudder-analytics.min.js"></script>
    <script type="text/javascript">
        /* beautify ignore:start */

        !function () {
            var e = window.rudderanalytics = window.rudderanalytics || [];
            e.methods = ["load", "page", "track", "identify", "alias", "group", "ready", "reset", "getAnonymousId", "setAnonymousId"], e.factory = function (t) {
                return function () {
                    var r = Array.prototype.slice.call(arguments);
                    return r.unshift(t), e.push(r), e
                }
            };
            for (var t = 0; t < e.methods.length; t++) {
                var r = e.methods[t];
                e[r] = e.factory(r)
            }
            e.loadJS = function (e, t) {
                var r = document.createElement("script");
                r.type = "text/javascript", r.async = !0, r.src = "rudder-analytics.min.js"/*tpa=https://cdn.rudderlabs.com/v1/rudder-analytics.min.js*/;
                var a = document.getElementsByTagName("script")[0];
                a.parentNode.insertBefore(r, a)
            }, e.loadJS(),
                e.load("23hcIqxUfr6QoeygnbNdOMvIZWG", "https://replicateor.dataplane.rudderstack.com"),
                e.setAnonymousId("02a6e035-6770-4bb3-b435-754f48c97c08"),

                e.page()
        }();


        function replicate_track(event, properties
        ) {

            var options = {};


            rudderanalytics.track(event, properties, options);

        }

        /* beautify ignore:end */

    </script>

    <title>jiupinjia/stylized-neural-painting-oil – Run with an API on Replicate</title>

    <link rel="stylesheet" href="index.0856b7bed102.css"
          tppabs="https://replicate.com/static/dist/index.0856b7bed102.css">


    <meta name="twitter:card" content="summary_large_image">


    <meta name="twitter:site" content="@replicatehq">


    <meta name="twitter:image"
          content="https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif">


    <meta name="twitter:title"
          content="jiupinjia/stylized-neural-painting-oil –&nbsp;Replicate">
    <meta name="twitter:description" content="Image to oil painting generation">

    <meta name="description" content="Image to oil painting generation">

    <link type="text/css" rel="stylesheet" charSet="UTF-8"
          href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>


<body className="font-sans overflow-y-scroll antialiased flex min-h-screen flex-col">

<div className="p-lh px-2lh">
    <div>
        <div className="md:flex">
            <h1 className="text-base">

            </h1>

            <div className="hidden md:block text-right flex-grow">

                <nav className="h-24">

                    <a href="javascript:if(confirm(%27https://replicate.com/explore  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/explore%27"
                       tppabs="https://replicate.com/explore" className="nav-link ">Explore</a>

                    <a href="javascript:if(confirm(%27https://replicate.com/pricing  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/pricing%27"
                       tppabs="https://replicate.com/pricing" className="nav-link ">Pricing</a>

                    <a href="javascript:if(confirm(%27https://replicate.com/docs  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/docs%27"
                       tppabs="https://replicate.com/docs" className="nav-link ">Docs</a>

                    <a href="javascript:if(confirm(%27https://replicate.com/blog  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/blog%27"
                       tppabs="https://replicate.com/blog" className="nav-link ">Blog</a>


                    <a href="javascript:if(confirm(%27https://replicate.com/signin?next=/jiupinjia/stylized-neural-painting-oil  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/signin?next=/jiupinjia/stylized-neural-painting-oil%27"
                       tppabs="https://replicate.com/signin?next=/jiupinjia/stylized-neural-painting-oil"
                       className="nav-link">Sign in</a>

                    <a href="javascript:if(confirm(%27https://replicate.com/docs  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/docs%27"
                       tppabs="https://replicate.com/docs"
                       className="inline-block mt-05lh md:mt-0 bg-black text-white px-3 py-2 rounded">Get started</a>

                </nav>

            </div>
        </div>
    </div>

    <div className="block md:hidden flex-grow mt-lh">


        <nav className="h-24">

            <a href="javascript:if(confirm(%27https://replicate.com/explore  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/explore%27"
               tppabs="https://replicate.com/explore" className="nav-link ">Explore</a>

            <a href="javascript:if(confirm(%27https://replicate.com/pricing  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/pricing%27"
               tppabs="https://replicate.com/pricing" className="nav-link ">Pricing</a>

            <a href="javascript:if(confirm(%27https://replicate.com/docs  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/docs%27"
               tppabs="https://replicate.com/docs" className="nav-link ">Docs</a>

            <a href="javascript:if(confirm(%27https://replicate.com/blog  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/blog%27"
               tppabs="https://replicate.com/blog" className="nav-link ">Blog</a>


            <a href="javascript:if(confirm(%27https://replicate.com/signin?next=/jiupinjia/stylized-neural-painting-oil  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/signin?next=/jiupinjia/stylized-neural-painting-oil%27"
               tppabs="https://replicate.com/signin?next=/jiupinjia/stylized-neural-painting-oil" className="nav-link">Sign
                in</a>

            <a href="javascript:if(confirm(%27https://replicate.com/docs  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://replicate.com/docs%27"
               tppabs="https://replicate.com/docs"
               className="inline-block mt-05lh md:mt-0 bg-black text-white px-3 py-2 rounded">Get started</a>

        </nav>

    </div>

</div>


<div className="px-2lh">

</div>

<div className=" flex-1">

    <div className="full-container pb-40">


        <h3 className="mt-lh mb-lh">

            <!-- beautify ignore:start -->
            <span className="text-shade"></span><span className="text-shade px-3"></span>stylized-neural-painting-oil
            <!-- beautify ignore:end -->
        </h3>
        <div className="flex mb-lh">
            <div className="flex-none">

            </div>
            <div className="flex-grow">

                <div className=" inline-block rounded-full text-black bg-bgshade small-caps px-3 pb-1 mr-2">
  <span className="text-sm relative " style="top: 0.07em">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
     stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" className="icon">
  <circle cx="12" cy="12" r="10"></circle>
  <line x1="2" y1="12" x2="22" y2="12"></line>
  <path d="M12 2a15.3 15.3 0 014 10 15.3 15.3 0 01-4 10 15.3 15.3 0 01-4-10 15.3 15.3 0 014-10z"></path>
</svg>
</span>

                </div>

                Image to oil painting generation

            </div>

            <div className="flex-none ml-05lh ">


            </div>


            <div className="flex-none ">
                <p className="mb-05lh"><a
                        href="javascript:if(confirm(%27https://arxiv.org/abs/2011.08114  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://arxiv.org/abs/2011.08114%27"
                        tppabs="https://arxiv.org/abs/2011.08114" target="_blank" className="bubble ml-05lh">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                         className="icon">
                        <path d="M14.5 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V7.5L14.5 2z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <line x1="10" y1="9" x2="8" y2="9"></line>
                    </svg>
                    Paper
                </a></p>
            </div>

        </div>


        <div className="tabs flex mb-2lh border-b border-hairline ">
            <a href="../backup/stylized-neural-painting-oil2.htm"
               tppabs="https://replicate.com/jiupinjia/stylized-neural-painting-oil" className="tab mr-2lh selected">
                <svg className="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                     stroke-linejoin="round">
                    <polygon points="5 3 19 12 5 21 5 3"></polygon>

                </svg>
                Demo
            </a>


            <a href="examples.htm" tppabs="https://replicate.com/jiupinjia/stylized-neural-painting-oil/examples"
               className="tab mr-2lh ">
                <svg className="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                     stroke-linejoin="round">
                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                    <polyline points="11 3 11 11 14 8 17 11 17 3"></polyline>
                </svg>
                Examples
            </a>

        </div>

        <div className="mb-2lh">


            <script id="version" type="application/json">{
                "config": {
                "build": {
                "gpu": true, "cuda": "11.1.1", "cudnn": "8", "python_version": "3.8", "python_packages": [
                "imageio==2.9.0", "numpy==1.21.1", "scikit-image==0.18.2", "https://replicate.com/jiupinjia/opencv-python==4.5.3.56", "ipython==7.21.0", "Pillow==8.3.1", "matplotlib==3.1.3", "scipy==1.4.1", "scikit-image==0.18.2", "https://replicate.com/jiupinjia/opencv-contrib-python==4.5.3.56", "gdown==3.13.0", "runway-python==0.6.1", "torchvision==0.9.0", "torch==1.8.0"],
                "system_packages": ["libgl1-mesa-glx", "libglib2.0-0"]}, "predict": "predict.py:Predictor"},
                "docker_image_id": "6a8161f2fa2d6d3715f9c30ad3e808f31234f99007b441227075bee778e4b29f",
                "docker_image_name": "r8.im/jiupinjia/stylized-neural-painting-oil@sha256:6a8161f2fa2d6d3715f9c30ad3e808f31234f99007b441227075bee778e4b29f",
                "openapi_schema": {"info": {"title": "Cog", "version": "0.1.0"},
                "paths": {"/": {"get": {"summary": "Root", "responses": {"200": {"content": {"application/json": {"schema": {}}}, "description": "Successful Response"}},
                "operationId": "root__get"}}, "/predictions": {"post": {"summary": "Predict", "responses": {"200": {"content": {"application/json":
            {"schema": {"type": "object", "title": "Response", "required": ["status"], "properties": {"error": {"type": "string", "title": "Error"},
                "output": {"type": "string", "title": "Output", "format": "uri"}, "status": {"enum": ["processing", "succeeded", "failed"], "type": "string", "title": "Status",
                "description": "An enumeration."}}, "description": "The response body for a prediction"}}}, "description": "Successful Response"},
                "422": {"content": {"application/json": {"schema": {"type": "object", "title": "HTTPValidationError",
                "properties": {"detail": {"type": "array", "items": {"type": "object", "title": "ValidationError", "required": ["loc", "msg", "type"],
                "properties": {"loc": {"type": "array", "items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "title": "Location"},
                "msg": {"type": "string", "title": "Message"},
                "type": {"type": "string", "title": "Error Type"}}}, "title": "Detail"}}}}}, "description": "Validation Error"}},
                "description": "Run a single prediction on the model",
                "operationId": "predict_predictions_post", "requestBody": {"content": {"application/json": {"schema": {"type": "object", "title": "Request", "properties":
            {"input": {"type": "object", "title": "Input", "required": ["image"],
                "properties": {"image": {"type": "string", "title": "Image", "format": "uri", "x-order": 0, "description": "input image"},
                "max_strokes": {"type": "integer", "title": "Max Strokes", "default": 500, "x-order": 2, "description": "max number of strokes"},
                "output_type": {"enum": ["png", "gif"], "type": "string", "title": "output_type", "description": "output the final painting or gif with each intermediate stroke", "default": "png", "x-order": 3},
                "canvas_color": {"enum": ["black", "white"], "type": "string", "title": "canvas_color", "description": "canvas color", "default": "black", "x-order": 1}}},
                "output_file_prefix": {"type": "string", "title": "Output File Prefix"}}, "description": "The request body for a prediction"}}}}}}},
                "openapi": "3.0.2", "components": {"schemas": {"Input": {"type": "object", "title": "Input", "required": ["image"], "properties": {"image": {"type": "string", "title": "Image",
                "format": "uri", "x-order": 0, "description": "input image"},
                "max_strokes": {"type": "integer", "title": "Max Strokes", "default": 500, "x-order": 2, "description": "max number of strokes"},
                "output_type": {"enum": ["png", "gif"], "type": "string", "title": "output_type", "description": "output the final painting or gif with each intermediate stroke", "default": "png", "x-order": 3},
                "canvas_color": {"enum": ["black", "white"], "type": "string", "title": "canvas_color", "description": "canvas color", "default": "black", "x-order": 1}}},
                "Output": {"type": "string", "title": "Output", "format": "uri"},
                "Status": {"enum": ["processing", "succeeded", "failed"], "type": "string", "title": "Status", "description": "An enumeration."},
                "Request": {"type": "object",
                "title": "Request", "properties": {"input": {"type": "object", "title": "Input", "required": ["image"], "properties": {"image": {"type": "string", "title": "Image",
                "format": "uri", "x-order": 0, "description": "input image"}, "max_strokes": {"type": "integer", "title": "Max Strokes", "default": 500, "x-order": 2,
                "description": "max number of strokes"}, "output_type": {"enum": ["png", "gif"], "type": "string", "title": "output_type",
                "description": "output the final painting or gif with each intermediate stroke", "default": "png", "x-order": 3}, "canvas_color": {"enum": ["black", "white"],
                "type": "string", "title": "canvas_color", "description": "canvas color", "default": "black", "x-order": 1}}},
                "output_file_prefix": {"type": "string", "title": "Output File Prefix"}}, "description": "The request body for a prediction"},
                "Response": {"type": "object", "title": "Response", "required": ["status"], "properties": {"error": {"type": "string", "title": "Error"},
                "output": {"type": "string", "title": "Output", "format": "uri"}, "status": {"enum": ["processing", "succeeded", "failed"],
                "type": "string", "title": "Status", "description": "An enumeration."}}, "description": "The response body for a prediction"},
                "output_type": {"enum": ["png", "gif"], "type": "string", "title": "output_type", "description": "An enumeration."},
                "canvas_color": {"enum": ["black", "white"], "type": "string", "title": "canvas_color", "description": "An enumeration."},
                "ValidationError": {"type": "object", "title": "ValidationError", "required": ["loc", "msg", "type"],
                "properties": {"loc": {"type": "array", "items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "title": "Location"},
                "msg": {"type": "string", "title": "Message"}, "type": {"type": "string", "title": "Error Type"}}},
                "HTTPValidationError": {"type": "object", "title": "HTTPValidationError", "properties": {"detail": {"type": "array",
                "items": {"type": "object", "title": "ValidationError", "required": ["loc", "msg", "type"], "properties": {"loc": {"type": "array", "items": {"anyOf": [{"type": "string"},
            {"type": "integer"}]}, "title": "Location"}, "msg": {"type": "string", "title": "Message"}, "type": {"type": "string", "title": "Error Type"}}}, "title": "Detail"}}}}}},
                "model": {"absolute_url": "/jiupinjia/stylized-neural-painting-oil", "username": "jiupinjia", "name": "stylized-neural-painting-oil",
                "description": "Image to oil painting generation", "visibility": "public", "github_url": "https://github.com/jiupinjia/stylized-neural-painting",
                "paper_url": "https://arxiv.org/abs/2011.08114", "arxiv_paper_id": "2011.08114", "cover_image":
            {"url": "https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif", "is_audio_video": false}, "latest_version_created_at": null,
                "default_example_uuid": "sj5du6hyr5clpgoc6seigrpm6u", "display_output_as_json": false}}</script>


            <script id="model"
                    type="application/json">{"absolute_url": "/jiupinjia/stylized-neural-painting-oil", "username": "jiupinjia", "name": "stylized-neural-painting-oil",
                "description": "Image to oil painting generation", "visibility": "public", "github_url": "https://github.com/jiupinjia/stylized-neural-painting",
                "paper_url": "https://arxiv.org/abs/2011.08114", "arxiv_paper_id": "2011.08114",
                "cover_image": {"url": "https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif", "is_audio_video": false},
                "latest_version_created_at": null, "default_example_uuid": "sj5du6hyr5clpgoc6seigrpm6u", "display_output_as_json": false}</script>


            <script id="initial-prediction"
                    type="application/json">{"uuid": "sj5du6hyr5clpgoc6seigrpm6u", "version_id": "ae2c8e426d49eb9697ac6811285ef912f0077afa18da386a23995eb762579baa",
                "created_at": "2021-08-23T21:16:40.928Z", "updated_at": "2022-06-01T12:40:21.677Z", "completed_at": "2021-08-23T21:29:35.719Z", "status": "canceled",
                "inputs": {"image": "https://replicate.delivery/mgxm/d80ce030-bc40-4bd1-9ca8-6e3036494193/sunflowers.jpg", "max_strokes": "500", "output_type": "gif", "canvas_color": "black"},
                "output": [{"file": "https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif"}],
                "output_files": ["https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif"], "error": null, "run_logs": null, "version": {"config": {"build":
            {"gpu": true, "cuda": "11.1", "cudnn": "8", "python_version": "3.8",
                "python_packages": ["imageio==2.9.0", "numpy==1.21.1", "scikit-image==0.18.2", "https://replicate.com/jiupinjia/opencv-python==4.5.3.56", "ipython==7.21.0", "Pillow==8.3.1",
                "matplotlib==3.1.3", "scipy==1.4.1", "scikit-image==0.18.2", "https://replicate.com/jiupinjia/opencv-contrib-python==4.5.3.56", "gdown==3.13.0", "runway-python==0.6.1",
                "torchvision==0.9.0", "torch==1.8.0"], "system_packages": ["libgl1-mesa-glx", "libglib2.0-0"]}, "predict": "predict.py:Predictor"},
                "docker_image_id": "ae2c8e426d49eb9697ac6811285ef912f0077afa18da386a23995eb762579baa",
                "docker_image_name": "r8.im/jiupinjia/stylized-neural-painting-oil@sha256:ae2c8e426d49eb9697ac6811285ef912f0077afa18da386a23995eb762579baa", "openapi_schema":
            {"components": {"schemas": {"Input": {"type": "object", "properties": {"image": {"type": "string", "format": "uri", "x-order": 0, "description": "input image"},
                "max_strokes": {"type": "integer", "default": 500, "x-order": 2, "description": "max number of strokes"}, "output_type": {"enum": ["png", "gif"], "type": "string",
                "default": "png", "x-order": 3, "description": "output the final painting or gif with each intermediate stroke"}, "canvas_color": {"enum": ["black", "white"],
                "type": "string", "default": "black", "x-order": 1, "description": "canvas color"}}}, "Output": {"type": "array", "items": {"type": "object", "properties": {"file":
            {"type": "string", "format": "uri", "x-order": 0}, "text": {"type": "string", "x-order": 1}}}, "x-cog-array-type": "iterator"}}}}, "model":
            {"absolute_url": "/jiupinjia/stylized-neural-painting-oil", "username": "jiupinjia", "name": "stylized-neural-painting-oil",
                "description": "Image to oil painting generation", "visibility": "public", "github_url": "https://github.com/jiupinjia/stylized-neural-painting",
                "paper_url": "https://arxiv.org/abs/2011.08114", "arxiv_paper_id": "2011.08114",
                "cover_image": {"url": "https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif", "is_audio_video": false},
                "latest_version_created_at": null, "default_example_uuid": "sj5du6hyr5clpgoc6seigrpm6u", "display_output_as_json": false}}, "user": {"username": "cjwbw",
                "url": "/cjwbw"}}</script>


            <div id="run" data-component="VersionRun" data-script-prop-version="version" data-script-prop-model="model"
                 data-script-prop-initial-prediction="initial-prediction"
                 data-prop-predict-url="/api/models/jiupinjia/stylized-neural-painting-oil/versions/6a8161f2fa2d6d3715f9c30ad3e808f31234f99007b441227075bee778e4b29f/predictions"
                 data-prop-file-upload-url-template="/upload/:filename" data-prop-replicate-host="https://replicate.com"
                 data-prop-example-create-url="/api/models/jiupinjia/stylized-neural-painting-oil/examples"
                 data-prop-can-create-example="" data-prop-model-absolute-path="/jiupinjia/stylized-neural-painting-oil"
                 data-prop-sign-in-required-to-run="" data-prop-is-authenticated="" data-prop-is-owner=""
                 data-prop-user-has-active-subscription=""
                 data-prop-stripe-checkout-session-create-url="/subscriptions/new?from=prediction_queue">
                <div className="mb-lh">
                    <div>
                        <div className="flex">
                            <div className="flex-1 min-w-0 pr-lh"><h4 className="flex-1 pr-lh mb-lh">Input</h4>
                                <form action="#" noValidate="">
                                    <div className="mb-lh"><a
                                            href="https://replicate.delivery/mgxm/d80ce030-bc40-4bd1-9ca8-6e3036494193/sunflowers.jpg"
                                            rel="noreferrer" target="_blank"><img
                                            src="https://replicate.delivery/mgxm/d80ce030-bc40-4bd1-9ca8-6e3036494193/sunflowers.jpg"
                                            alt="https://replicate.delivery/mgxm/d80ce030-bc40-4bd1-9ca8-6e3036494193/sunflowers.jpg"
                                            className=""></a></div>
                                    <div className="mb-lh"><label className=" block mb-2"><code>image</code></label>
                                        <div
                                                className="dropzone text-shade border-black border-2 border-opacity-10 border-dashed px-lh py-05lh cursor-pointer">
                                            <input type="file" className="hidden">
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     className="icon">
                                                    <path d="M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4"></path>
                                                    <polyline points="17 8 12 3 7 8"></polyline>
                                                    <line x1="12" y1="3" x2="12" y2="15"></line>
                                                </svg>
                                                Drop a file or click to select
                                                <div className="flex ">
                                                    <div
                                                            className="text-sm truncate pt-1">
                                                        https://replicate.delivery/mgxm/d80ce030-bc40-4bd1-9ca8-6e3036494193/sunflowers.jpg
                                                    </div>
                                                    <button type="button"
                                                            className="flex-shrink pointer-events-auto hover:bg-black hover:text-white p-1 ml-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                             height="24" viewBox="0 0 24 24" fill="none"
                                                             stroke="currentColor" stroke-width="2"
                                                             stroke-linecap="round" stroke-linejoin="round"
                                                             className="icon">
                                                            <polyline points="3 6 5 6 21 6"></polyline>
                                                            <path
                                                                    d="M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path>
                                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div className="mt-3">
                                            <button type="button"
                                                    className="text-shade border-black border-2 border-dashed px-lh py-05lh cursor-pointer border-opacity-10 w-full text-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     className="icon">
                                                    <path
                                                            d="M14.5 4h-5L7 7H4a2 2 0 00-2 2v9a2 2 0 002 2h16a2 2 0 002-2V9a2 2 0 00-2-2h-3l-2.5-3z"></path>
                                                    <circle cx="12" cy="13" r="3"></circle>
                                                </svg>
                                                Take a photo with your webcam
                                            </button>
                                        </div>
                                        <p className="text-shade mt-1">input image</p></div>
                                    <div className="mb-lh"><label
                                            className=" block mb-2"><code>canvas_color</code></label><select
                                            name="canvas_color" className="form-select w-full">
                                        <option value=""></option>
                                        <option value="black">black</option>
                                        <option value="white">white</option>
                                    </select>
                                        <p className="text-shade mt-1">canvas color</p></div>
                                    <div className="mb-lh"><label
                                            className=" block mb-2"><code>max_strokes</code></label><input
                                            name="max_strokes" type="number" step="1" className="form-input w-full"
                                            value="500">
                                        <p className="text-shade mt-1">max number of strokes</p></div>
                                    <div className="mb-lh"><label
                                            className=" block mb-2"><code>output_type</code></label><select
                                            name="output_type" className="form-select w-full">
                                        <option value=""></option>
                                        <option value="png">png</option>
                                        <option value="gif">gif</option>
                                    </select>
                                        <p className="text-shade mt-1">output the final painting or gif with each
                                            intermediate stroke</p></div>
                                    <button className="form-button mr-2 relative" type="submit"><span
                                            className="">Submit</span></button>
                                    <button className="form-button-secondary" type="button">Reset</button>
                                </form>
                            </div>
                            <div className="flex-1 min-w-0">
                                <div><h4 className="flex-1 mb-lh">Output</h4>
                                    <div className="mb-lh">
                                        <div data-prediction-output="true" className="mb-lh">
                                            <div className="">
                                                <div><a
                                                        href="https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif"
                                                        rel="noreferrer" target="_blank"><img
                                                        src="https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif"
                                                        alt="file" className=""></a></div>
                                            </div>
                                            <datalist id="steplist">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                                <option>23</option>
                                                <option>24</option>
                                                <option>25</option>
                                                <option>26</option>
                                                <option>27</option>
                                                <option>28</option>
                                                <option>29</option>
                                                <option>30</option>
                                                <option>31</option>
                                                <option>32</option>
                                                <option>33</option>
                                                <option>34</option>
                                                <option>35</option>
                                                <option>36</option>
                                                <option>37</option>
                                                <option>38</option>
                                                <option>39</option>
                                                <option>40</option>
                                                <option>41</option>
                                                <option>42</option>
                                                <option>43</option>
                                                <option>44</option>
                                                <option>45</option>
                                                <option>46</option>
                                                <option>47</option>
                                                <option>48</option>
                                                <option>49</option>
                                                <option>50</option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div className="inline-block mr-3 mb-3"><a
                                            href="/signin?next=/jiupinjia/stylized-neural-painting-oil?prediction=sj5du6hyr5clpgoc6seigrpm6u"
                                            className="form-button-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" className="icon">
                                            <path d="M15 3h4a2 2 0 012 2v14a2 2 0 01-2 2h-4"></path>
                                            <polyline points="10 17 15 12 10 7"></polyline>
                                            <line x1="15" y1="12" x2="3" y2="12"></line>
                                        </svg>
                                        Share</a></div>
                                    <div className="inline-block mr-3 mb-3"><a className="form-button-secondary mb-lh"
                                                                               href="https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif"
                                                                               download="replicate-prediction-sj5du6hyr5clpgoc6seigrpm6u.gif">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" className="icon">
                                            <path d="M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4"></path>
                                            <polyline points="7 10 12 15 17 10"></polyline>
                                            <line x1="12" y1="15" x2="12" y2="3"></line>
                                        </svg>
                                        Download</a></div>
                                    <div className="inline-block mr-3 mb-3"><a className="form-button-secondary mb-lh"
                                                                               href="/p/sj5du6hyr5clpgoc6seigrpm6u/report">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" className="icon">
                                            <polygon
                                                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                                            <line x1="12" y1="8" x2="12" y2="12"></line>
                                            <line x1="12" y1="16" x2="https://replicate.com/static/dist/12.01"
                                                  y2="16"></line>
                                        </svg>
                                        Report</a></div>
                                    <div className="p-3 my-lh text-sm bg-brand">🚀 Want to run this model with an
                                        API? <a href="/docs" target="_blank">Learn more.</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div className="pb-2 border-b border-hairline mb-lh flex">
            <h4 className="inline-block flex-grow"> Examples</h4>

            <p>
                <a href="examples.htm" tppabs="https://replicate.com/jiupinjia/stylized-neural-painting-oil/examples"
                   className="no-default">
                    View more examples <span className="relative -top-0.5">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
     stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" className="icon">
  <line x1="7" y1="17" x2="17" y2="7"></line>
  <polyline points="7 7 17 7 17 17"></polyline>
</svg>
</span></a>
            </p>
        </div>

        <div className="mb-2lh h-40 overflow-hidden ">


            <div className="inline-block h-40 w-40 overflow-hidden">
                <a href="examples.htm#sj5du6hyr5clpgoc6seigrpm6u"
                   tppabs="https://replicate.com/jiupinjia/stylized-neural-painting-oil/examples#sj5du6hyr5clpgoc6seigrpm6u">


                    <img src="/static/out.gif"
                         tppabs="https://replicate.delivery/mgxm/7350b737-c4f6-4bef-a4c5-e365a5cd3884/out.gif" alt=""
                         className="object-cover object-center w-full h-full">


                </a>
            </div>


            <div className="inline-block h-40 w-40 overflow-hidden">
                <a href="examples.htm#lmzro2k6o5by3mdmawduy5vydi"
                   tppabs="https://replicate.com/jiupinjia/stylized-neural-painting-oil/examples#lmzro2k6o5by3mdmawduy5vydi">


                    <img src="/static/out-1.gif"
                         tppabs="https://replicate.delivery/mgxm/1ccbe17c-9e20-44cd-8cc4-fe011dcd6f65/out.gif" alt=""
                         className="object-cover object-center w-full h-full">


                </a>
            </div>


            <div className="inline-block h-40 w-40 overflow-hidden">
                <a href="examples.htm#6uk2xrdftfe7fkxtnkfwsgsiuy"
                   tppabs="https://replicate.com/jiupinjia/stylized-neural-painting-oil/examples#6uk2xrdftfe7fkxtnkfwsgsiuy">


                    <img src="/static/out.png"
                         tppabs="https://replicate.delivery/mgxm/b0dae1cb-b428-49fb-87ff-80a4ee71ed53/out.png" alt=""
                         className="object-cover object-center w-full h-full">


                </a>
            </div>

        </div>

        <div id="performance" className="mb-2lh">

        </div>

    </div>

</div>


<script src="../static/index.bf925f4a2ed7.js"
        tppabs="https://replicate.com/static/dist/index.bf925f4a2ed7.js"></script>
<script>
    /* beautify ignore:start */
    window.replicateInit({"SENTRY_DSN_JS": "https://3dc017e574684610bbc7fd3b5519a4e8@o255771.ingest.sentry.io/5909364"})
    /* beautify ignore:end */

</script>


<div id="goog-gt-tt" className="skiptranslate" dir="ltr">
    <div style="padding: 8px;">
        <div>
            <div className="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png"
                                       width="20" height="20" alt="Google 翻译"></div>
        </div>
    </div>
    <div className="top" style="padding: 8px; float: left; width: 100%;"><h1 className="title gray">原文</h1></div>
    <div className="middle" style="padding: 8px;">
        <div className="original-text"></div>
    </div>
    <div className="bottom" style="padding: 8px;">
        <div className="activity-links"><span className="activity-link">提供更好的翻译建议</span></div>
        <div className="started-activity-container">
            <hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;">
            <div className="activity-root"></div>
        </div>
    </div>
    <div className="status-message" style="display: none;"></div>
</div>
<script>
    (function () {
        var ws = new WebSocket('ws://' + window.location.host +
            '/jb-server-page?reloadMode=RELOAD_ON_SAVE&' +
            'referrer=' + encodeURIComponent(window.location.pathname));
        ws.onmessage = function (msg) {
            if (msg.data === 'reload') {
                window.location.reload();
            }
            if (msg.data.startsWith('update-css ')) {
                var messageId = msg.data.substring(11);
                var links = document.getElementsByTagName('link');
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    if (link.rel !== 'stylesheet') continue;
                    var clonedLink = link.cloneNode(true);
                    var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
                    if (newHref !== link.href) {
                        clonedLink.href = newHref;
                    } else {
                        var indexOfQuest = newHref.indexOf('?');
                        if (indexOfQuest >= 0) {
                            // to support ?foo#hash
                            clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                newHref.substring(indexOfQuest + 1);
                        } else {
                            clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                        }
                    }
                    link.replaceWith(clonedLink);
                }
            }
        };
    })();
</script>
<div className="goog-te-spinner-pos">
    <div className="goog-te-spinner-animation">
        <svg xmlns="http://www.w3.org/2000/svg" className="goog-te-spinner" width="96px" height="96px"
             viewBox="0 0 66 66">
            <circle className="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                    r="30"></circle>
        </svg>
    </div>
</div>
</body>
</html>